@import url('https://fonts.googleapis.com/css2?family=Poppins:wght @300;400;500;600;700&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/



/*////////////////////////
    1. Global Styles
////////////////////////*/
/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*////////////////////////
    2. Typography
////////////////////////*/
body {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    max-width: 1000px;
}
input,
button {
    font-family: inherit;
}



/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/
.header-section {
    max-width: 1000px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
.header-section h1 {
    font-size: 55px;
    font-weight: 600;
    padding-top: 64px;
}
.header-section p {
    color: #1C2B32;
    font-size: 12px;
    margin: 16px;
}
.header-image {
    background-image: url("../assets/images/mountains.jpg");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;

}
.header-input-box {
    color: #1C2B32;
 border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    margin-bottom: 91px;
    padding-bottom: 18px;
    text-align: center;
   /* opacity: .1;*/
}
.header-check-button {
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    margin-left: -4px;
    padding-bottom: 18px;
}


/*///////////// 3.2 Testimonial /////////////*/
.review\=1 {
    background-color: #FFFFFF;
    width: 500px;
    box-shadow:  0px  0px  15px  1px  #666;
    padding: 50px;
    border: 15px #FFFFFF;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.qoute-image {
    position: left;
}
.review-2 {
    background-color: #FFFFFF;
    width: 500px;
    box-shadow:  0px  0px  15px  1px  #666;
    padding: 50px;
    border: 15px #FFFFFF;
    border-radius: 10px;
    margin: auto;
}


/*///////////// 3.3 Support /////////////*/
.main-section {
    text-align: center;
    position: relative;
    padding: 5px;
}
.we-are-ready-for-u {
    margin: 50px;
}
.we-are-ready-for-u p {
    font-size: 12px;
}
.section-image-call-center {
    max-width: 60%;
    border-radius: 15px
}

.contact-button {
    background-color: black;
    color: #FFFFFF;
    border-radius: 60px;
    padding: 8px;
    margin-left: -388px;
}


/*///////////// 3.4 Faq /////////////*/
.questions h3 {
    text-align: center;
    padding: 20px;
}
.faq-details {
    text-align: left;
    margin-inline: 200px;
    padding: 5px;
}
.faq-section {
    background-color: #899CA0;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 5px;
    padding: 8px;
}

/*///////////// 3.5 Footer /////////////*/
.footer {
    background-color: black;
    color: #FFFFFF;
    text-align: center;
}